.lead__title {
  grid-area: title;
  max-width: 460px;
  font-size: 72px;
  line-height: 1.055;
  margin: 0;
}

.lead__container-paragraph {
  grid-area: paragraph;
  display: flex;
  flex-direction: column;
  max-width: 484px;
  gap: 25px;
}

.lead__paragraph {
  font-size: 18px;
  height: fit-content;
  margin: 0;
}

.lead__image {
  position: relative;
  grid-area: image;
  width: 460px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1024px) {
  .lead__image {
    width: 44.272vw;
  }

  .lead__title {
    font-size: 42px;
    width: 44.272vw;
    line-height: 1.1;
  }

  .lead__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    font-size: 32px;
    width: 90vw;
    margin: 0;
  }

  .lead__paragraph {
    width: 90vw;
  }

  .lead__image {
    width: 100%;
    margin-right: 0;
    box-shadow: none;
  }
}
